# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Don't allow node_modules inside /public
/public/node_modules/
/public/vite/
/public/env.mjs
/public/client.mjs

# Standard ignores
node_modules/
dist/
.vite/
.env.local
.env.*
!.env.example
